doctype html 
html 
    head
        //- Google Tag Manager
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NZ24JXK');
        //- End Google Tag Manager
        title Lazer Crazer
        block style
        style
            include ../static/style.css
            include ../static/franchise.css
            include ../static/event.css

        //- LINK TAGS FOR WEBSITE"S FAVICON
        link(rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon_io/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon_io/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon_io/favicon-16x16.png")
        link(rel="manifest" href="../static/img/favicon_io/site.webmanifest")

        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Lazer Crazer - Best gaming area for kids and adults')
        link(rel='stylesheet' media='screen and (max-width: 1000px)' href='../static/responsive.css')
    block content 
        body 
            //- Google Tag Manager (noscript)
            noscript
                iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NZ24JXK' height='0' width='0' style='display:none;visibility:hidden')
            //- End Google Tag Manager (noscript)
            div#navbar
                div#ul1-wrapper
                    ul#ul1
                        li #[a(href='/') HOME]
                            img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")

                        li #[a(href='/event') EVENT]
                            img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")

                        li #[a(href='/franchise') FRANCHISE]
                            img#home-navigator.main(src="../static/img/home-navigator.png" alt="cant load photo")
                div#nav-logo
                    img#logo-background(src="../static/img/logo-background.png" alt="cant load photo")
                    img#main-logo(src="../static/img/logo.png" alt="cant load photo")
                div#ul2-wrapper
                    ul#ul2 
                        li #[a(href='/rental') RENTING]
                            img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")

                        li #[a(href='/activities') ACTIVITIES]
                            img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")

                        li #[a(href='/calender') BOOKING]
                            img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")

                div#nav-planet 
                    img(src="../static/img/nav-planet.png" alt="cant load photo")

            div#mobile-navbar
                div#visible-navbar
                    a#mobile-logo(href='/')
                        img(src="../static/img/logo.png" alt="cant load photo")
                    div#hamburger-icon
                        span.bar
                        span.bar
                        span.bar
                div#nav-items
                    ul 
                        li#home #[a(href='/') HOME]
                            img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/event') EVENT]
                            img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/franchise') FRANCHISE] 
                            img#navigator.main(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/rental') RENTING]
                            img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/activities') ACTIVITIES]
                            img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/calender') BOOKING]
                            img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                    div#nav-lightining1
                        img(src="../static/img/nav-lightining1.png" alt="cant load photo")
                    div#nav-lightining2
                        img(src="../static/img/nav-lightining2.png" alt="cant load photo")
                    div#nav-bottom-tower
                        img(src="../static/img/nav-bottom-tower.png" alt="cant load photo")
            div#planet-container
                div#navM-planet2
                    img(src="../static/img/navM-planet.png" alt="cant load photo")


            div#franchise-banner
                div#franchise-heading
                    h1 FRANCHISE
                    h2 START YOUR OWN LAZER TAG BUSINESS

                div#franchise-content
                    div#franchise-banner-text
                        ul 
                            li 
                                img(src="../static/img/event-bullet1.png" alt="cant load photo")
                                p Return on Investment in 3-5 Months 
                            li 
                                img(src="../static/img/event-bullet2.png" alt="cant load photo")
                                p Best in class equipment 
                            li 
                                img(src="../static/img/event-bullet1.png" alt="cant load photo")
                                p More than 10 year of industry experience
                        a(href='#clientAndForm') GET A QUOTE

                    div#franchise-temple
                        img(src="../static/img/franchise-temple.png" alt="cant load photo")
                    div#franchise-templeM
                        img(src="../static/img/franchise-templeM.png" alt="cant load photo")
                div#franchise-base
                    img(src="../static/img/franchise-base.png" alt="cant load photo")
                div#franchise-baseM
                    img(src="../static/img/franchise-baseM.png" alt="cant load photo")

            div#franchise-model
                h3 You take the 
                    span#green PROFIT
                    |, we do the 
                    span#green WORK

                div#franchise-parallax1
                    img#move1(src="../static/img/franchise-parallax1.png" alt="cant load photo")
                div#franchise-model-para
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in est maximus, consectetur tellus id, lacinia nisl. In tincidunt eros sit amet purus imperdiet porttitor. Nunc id laoreet libero. Duis ut lacus vitae odio ullamcorper sollicitudin et nec erat. Sed sit amet bibendum purus. Duis urna leo, sagittis ut felis sit amet, porta luctus felis. 
                div#franchise-para-underline
                    img(src="../static/img/franchise-para-underline.png" alt="cant load photo")
                div#franchise-para-underlineM
                    img(src="../static/img/franchise-para-underlineM.png" alt="cant load photo")
                div#franchise-parallax2
                    img#move2(src="../static/img/franchise-parallax2.png" alt="cant load photo")


            div#franchise-model-containers
                div#franchise-parallax3
                    img#move3(src="../static/img/franchise-parallax3.png" alt="cant load photo")
                div#franchise-model-containersR1
                    div.fContainer
                        div.fContainer-bg
                            img(src="../static/img/fContainer-bg.png" alt="cant load photo")
                        div.fContainer-bgActive
                            img(src="../static/img/fContainer-bgActive.png" alt="cant load photo")
                        div.franchise-container-content
                            h5#green Foco Model
                            p FOCO model franchise provides you with a headach-free business. The franchisee owns the business while the company operates it.
                    div.fContainer#mt1
                        div.fContainer-bg
                            img(src="../static/img/fContainer-bg.png" alt="cant load photo")
                        div.fContainer-bgActive
                            img(src="../static/img/fContainer-bgActive.png" alt="cant load photo")
                        div.franchise-container-content
                            h5#green Stress-Free
                            p From marketing to maintains, Service to Sales company deals with all the stress.
 
                div#franchise-model-containersR2
                    div.fContainer
                        div.fContainer-bg
                            img(src="../static/img/fContainer-bg.png" alt="cant load photo")
                        div.fContainer-bgActive
                            img(src="../static/img/fContainer-bgActive.png" alt="cant load photo")
                        div.franchise-container-content
                            h5#green Maintenance 
                            p From marketing to maintains, Service to Sales company deals with all the stress.
 
                    div.fContainer#mt2
                        div.fContainer-bg
                            img(src="../static/img/fContainer-bg.png" alt="cant load photo")
                        div.fContainer-bgActive
                            img(src="../static/img/fContainer-bgActive.png" alt="cant load photo")
                        div.franchise-container-content
                            h5#green Staff training
                            p Hiring and Training of Staff will be done by the company , In order to create valuable human resource.
 

            a(href='#clientAndForm')#franchise-learnMore
                img#learnMore-img(src="../static/img/franchise-learnMore.png" alt="cant load photo")
                div#learnMore-text 
                    span#learn Learn 
                    span  More

            div#about-lazerTag
                div#franchise-parallax4
                    img#move4(src="../static/img/franchise-parallax4.png" alt="cant load photo")
                div#franchise-parallax5
                    img#move5(src="../static/img/franchise-parallax5.png" alt="cant load photo")
                div#franchise-parallax6
                    img#move6(src="../static/img/franchise-parallax6.png" alt="cant load photo")
                div#franchise-parallax7
                    img#move7(src="../static/img/franchise-parallax7.png" alt="cant load photo")
                div#franchise-parallax8
                    img#move8(src="../static/img/franchise-parallax8.png" alt="cant load photo")
                h1 ABOUT 
                    span#greenPotta LAZER TAG
                div#about-lazerTag-para 
                    span#green laser tag 
                    span is a military tactical game bordering sports and high tech.

                div#about-lazerTag-containers
                    div#lazerTag-row1
                        div.lContainers
                            div.lContainers-img
                                img(src="../static/img/lContainers-img1.png" alt="cant load photo")
                            div.lContainers-content
                                h5 Adernaline Rush
                                p Laser tag is an exciting and unique experience
                        div.lContainers
                            div.lContainers-img
                                img(src="../static/img/lContainers-img2.png" alt="cant load photo")
                            div.lContainers-content
                                h5 Team Building
                                p learn how to communicate, work together and achieve goals
                        div.lContainers
                            div.lContainers-img
                                img(src="../static/img/lContainers-img3.png" alt="cant load photo")
                            div.lContainers-content
                                h5 Safety
                                p there is No striking element - no pain or bruises, only general photos, joy and posts about achievements.
                    div#lazerTag-row2
                        div.lContainers
                            div.lContainers-img
                                img(src="../static/img/lContainers-img4.png" alt="cant load photo")
                            div.lContainers-content
                                h5 Working principle
                                p Laser tag is a skirmish sport in which players, in teams or as individuals, use laser emitting devices, to tag laser sensitive targets
                        div.lContainers
                            div.lContainers-img
                                img(src="../static/img/lContainers-img5.png" alt="cant load photo")
                            div.lContainers-content
                                h5 No Age Restrictions
                                p  Adult enjoy making score while kids enjoy just by holding guns
                        div.lContainers
                            div.lContainers-img
                                img(src="../static/img/lContainers-img6.png" alt="cant load photo")
                            div.lContainers-content
                                h5 For All Event
                                p From corporate parties to Birthday celebrations
                    div#lazerTag-row3
                        div.lContainers
                            div.lContainers-img
                                img(src="../static/img/lContainers-img7.png" alt="cant load photo")
                            div.lContainers-content
                                h5 Realism
                                p The equipment replicates military weapons.
                        div.lContainers
                            div.lContainers-img
                                img(src="../static/img/lContainers-img8.png" alt="cant load photo")
                            div.lContainers-content
                                h5 Accessibilty
                                p For all fitness levels
            div#roi-lazerTag
                div#franchise-parallax9
                    img#move9(src="../static/img/franchise-parallax6.png" alt="cant load photo")
                div#franchise-parallax10
                    img#move10(src="../static/img/franchise-parallax10.png" alt="cant load photo")
                h1 
                    span#green WHY 
                    span is it profitable to a open Laser Tag?

                div#roi-lazerTag-containers
                    div.rContainers
                        img(src="../static/img/rContainers-img1.png" alt="cant load photo")
                        p Low operational cost 
                    div.rContainers
                        img(src="../static/img/rContainers-img2.png" alt="cant load photo")
                        p Growing Market 
                    div.rContainers
                        img(src="../static/img/rContainers-img3.png" alt="cant load photo")
                        p Min num of employees
                    div.rContainers
                        img(src="../static/img/rContainers-img4.png" alt="cant load photo")
                        p Fast payback  

            div#google-trends
                div#google-blend
                div#google-stars
                    img(src="../static/img/google-stars.png", alt="cant load photo")
                div#google-trends-bg
                    img(src="../static/img/google-trends-bg.png" alt="cant load photo")
                div#google-trends-bgM
                    img(src="../static/img/google-trends-bgM.png" alt="cant load photo")
                div#google-heading
                    img(src="../static/img/google.png" alt="cant load photo")
                    h1 Trends

                div#google-trends-content
                    div#gtContainer1
                        div#google-trends-img1
                            img(src="../static/img/google-trends-img1.png" alt="cant load photo")
                        div#gtContainer1-content    
                            h5 Google Trends show an increase 
                                div in queries when it come to the 
                                div world Laser Tag.
                            div.trends-line
                                img(src="../static/img/trends-line1.png" alt="cant load photo")
                            p Business actively developing in India
                    div#gtContainer2
                        div#google-trends-img2
                            img(src="../static/img/google-trends-img2.png" alt="cant load photo")
                        div#gtContainer2-content
                            h5 Google Trends show an increase 
                                div in queries when it come to the 
                                div world Laser Tag.
                            div.trends-line
                                img(src="../static/img/trends-line1.png" alt="cant load photo")
                            p Business actively developing in the Delhi NCR

            div#trends-blend

            div#formats
                h1 FORMATS OF 
                    span#green LAZER TAG CLUB
                p#formats-para 
                    span#green Lorem ipsum 
                    span dolor sit amet, consectetur adipiscing elit. Nunc in est maximus, consectetur tellus id

                div#formats-container
                    div.formats-cards
                        div.formats-cards-bg
                            img(src="../static/img/formats-cards-bg.png" alt="cant load photo")
                        div.formats-cards-content
                            div.formats-cards-heading
                                h3#green Laser Tag Arena
                            div.opening
                                p Set-up Time :
                                p.bold 15-20 Days
                            div.area
                                p  AREA REQUIRED:
                                p min 
                                    span.bold 2000 sq
                            div.investment
                                p INVESTMENTS :
                                p.bold 10-15 lakh
                                p.small Including all setup, equipment, interior and decor
                            div.mon-income
                                p MONTHLY INCOME :
                                p.bold 5-8 Lakh
                                p#lastP Very low operational cost
                        a(href='#clientAndForm').format-learnMore LEARN MORE


                    div.formats-cards
                        div.formats-cards-bg
                            img(src="../static/img/formats-cards-bg.png" alt="cant load photo")
                        div.formats-cards-content
                            div.formats-cards-heading
                                h3#green Laser Tag + Other Activities
                            div.opening
                                p Set-up Time :
                                p.bold 30-40 Days
                            div.area
                                p  AREA REQUIRED:
                                p min 
                                    span.bold 3000 sq
                            div.investment
                                p INVESTMENTS :
                                p.bold 20 lakh Onwards
                                p.small Including all setup, equipment, interior and decor
                            div.mon-income
                                p MONTHLY INCOME :
                                p.bold 10-15 Lakh
                                p#lastP Very low operational cost
                        a(href='#clientAndForm').format-learnMore LEARN MORE


                    div.formats-cards
                        div.formats-cards-bg
                            img(src="../static/img/formats-cards-bg.png" alt="cant load photo")
                        div.formats-cards-content
                            div.formats-cards-heading
                                h3#green Gaming Arena + Food Court
                            div.opening
                                p Set-up Time :
                                p.bold 50-60 Days
                            div.area
                                p  AREA REQUIRED:
                                p min 
                                    span.bold 3500 sq
                            div.investment
                                p INVESTMENTS :
                                p.bold 30 lakh Onwards
                                p.small Including all setup, equipment, interior and decor
                            div.mon-income
                                p MONTHLY INCOME :
                                p.bold 15-20 Lakh
                                p#lastP High Margins, High Footfalls
                        a(href='#clientAndForm').format-learnMore LEARN MORE

            div#choose-lazerTag    
                h1 WHY CHOOSE 
                    span#green LAZER CRAZER

                div#choose-lazerTag-para
                    div#franchise-parallax12
                        img#move12(src="../static/img/franchise-parallax12.png" alt="cant load photo")
                    ul
                        div#franchise-parallax11
                            img#move11(src="../static/img/franchise-parallax11.png" alt="cant load photo")
                        li
                            img(src="../static/img/event-bullet1.png" alt="cant load photo")
                            p Delhi NCR top rated gaming company
                        li
                            img(src="../static/img/event-bullet2.png" alt="cant load photo")
                            p More than 10 year of combined industry experience
                        li
                            img(src="../static/img/event-bullet1.png" alt="cant load photo")
                            p Access to best equipment
                        li
                            img(src="../static/img/event-bullet2.png" alt="cant load photo")
                            p Existing brand value
                        li
                            img(src="../static/img/event-bullet1.png" alt="cant load photo")
                            p  To ensure high sales we have an In-House marketing team
                        li
                            img(src="../static/img/event-bullet2.png" alt="cant load photo")
                            p  Headache-free business model


            div#clientAndForm
                div#knowMore-blend
                div#event-formBg
                    img#event-formBgD(src="../static/img/event-formBg.png" alt="cant load photo")
                    img#event-formBgM(src="../static/img/event-formBgM.png" alt="cant load photo")

                div#contact-form
                    form#contactForm
                        p#formHeading FIRST STEP TO FINANCIAL FREEDOM WITH LAZER CRAZER
                        p GET IN TOUCH WITH US
                        div#row1
                            input(type="text" name="name" id='name' Class="myInput" placeholder="Your Name" required)

                            input(type="tel" value='+91' name="phone" id='phone' Class="myInput" placeholder="Phone" minlength="13" maxlength="13" pattern="['+']{1}[1-9]{3}[0-9]{9}" title='Enter a valid 10-digit number' required)

                        div#row2
                            input(type="email" name="email" id='email' Class="myInput" placeholder="Email" required)

                            select.myInput(name="Parties" id='select1')
                                option#placeholder(value="" disabled selected) Types of Formats
                                option(value="Birthday") Laser Tag Arena 
                                option(value="Corporate") Laser Tag + Other Activities
                                option(value="Private") Gaming Arena + Food Court
                        div#row3
                            textarea.textarea.myInput(name="message" id='message' cols="30" rows="10" placeholder="Send Comments")
                        div#btn-container
                            button(type="submit")#sendRequest SEND REQUEST

            div#clients-bg
                div#clients
                    img(src="../static/img/client1.png" alt="cant load photo")
                    img(src="../static/img/client2.png" alt="cant load photo")
                    img(src="../static/img/client3.png" alt="cant load photo")
                    img(src="../static/img/client4.png" alt="cant load photo")
                    img(src="../static/img/client5.png" alt="cant load photo")
                    img(src="../static/img/client6.png" alt="cant load photo")
            div#clients2
                p#trusted TRUSTED BY
                div.clients-container
                    img(src="../static/img/client1.png" alt="cant load photo")
                    img(src="../static/img/client2.png" alt="cant load photo")
                    img(src="../static/img/client3.png" alt="cant load photo")
                div.clients-container
                    img(src="../static/img/client4.png" alt="cant load photo")
                    img(src="../static/img/client5.png" alt="cant load photo")
                    img(src="../static/img/client6.png" alt="cant load photo")

            div#client-blend


            footer#footer            
                div#footer-design
                    img(src="../static/img/footer-design.png" alt="cant load photo")
                div#footer-design-right
                    img(src="../static/img/footer-design-right.png" alt="cant load photo")
                div#footer-design2
                    img(src="../static/img/footer-design2.png" alt="cant load photo")
                div#footer-content
                    div#brand-section
                        div#brand-logo
                            img(src="../static/img/footer-logo.png" alt="cant load photo")
                        p DELHI’S LARGEST AND TOP RATED LASER TAG ARENA IN HAUZ KHAS VILLAGE
                    div#mid-section
                        p Lazer Crazer Laser Tag
                        div#pixy Website by 
                            a(href='https://pixysquare.com/' target='_blank')  www.pixysquare.com 
                                div (click & connect)
                        div#social-icons
                            a(href='https://www.facebook.com/lazercrazer1' target='_blank')
                                img(src="../static/img/fb.png" alt="cant load photo")
                            a(href='https://www.instagram.com/lazercrazer/' target='_blank')
                                img(src="../static/img/insta.png" alt="cant load photo")
                            a(href='https://www.youtube.com/@lazercrazer4544' target='_blank')
                                img(src="../static/img/youtube.png" alt="cant load photo")
                    div#contact-section
                        div#address
                            img(src="../static/img/location.png" alt="cant load photo")
                            a(href='https://goo.gl/maps/3E7CiTjJRayBFssh7' target='_blank') 1A Hauz khas village, New delhi, india, 110016
                        div#mobile
                            img(src="../static/img/phone.png" alt="cant load photo")
                            p +91 8840175266/ 9971385510
                        div#mail
                            img(src="../static/img/envelope.png" alt="cant load photo")
                            p Contact@lazercrazer.in

            div#copyright
                p Copyright © 2022 Lazer Crazer. All rights reserved / 
                    a(href='/privacy' target="_blank") Privacy Policy 

            div#loading
                div#loading-design1
                    img(src="../static/img/loading-design1.png" alt="cant load photo")

                div#loading-planet
                    img(src="../static/img/loading-planet.png" alt="cant load photo")
                div#progressBar
                    div#progress
                    div#progress-perc 0%

                div#loading-design2
                    img(src="../static/img/loading-design2.png" alt="cant load photo")

        a(href='https://wa.me/918840175266?text=Hello')#whatsapp-icon
            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="wa-messenger-svg-whatsapp wh-svg-icon")
                path(d=" M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z" fill-rule="evenodd")
            p#message-us Message Us


            block scripts
                script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js")
                script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js' integrity='sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==' crossorigin='anonymous' referrerpolicy='no-referrer')
                script 
                    include ../static/script.js
                    include ../static/franchise.js