@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lexend+Giga&family=Nunito+Sans&display=swap');



.blurback {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}


.bookingsection {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: rgb(35, 209, 215);
}

.mainsection {
    width: 80%;
    /* height: 527px; */
    /* background-color:aquamarine ;
    border: 3px solid blue; */
    background: linear-gradient(136.67deg, rgba(44, 247, 11, 0.07) 4.87%, rgba(11, 162, 247, 0.07) 99.53%);
    box-shadow: 0px 3.5707px 3.5707px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.80239px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 8.03407px;

}

.submainsection {
    padding: 47px 52px;
}

.numbersection {}

.textsection {
    font-family: 'IBM Plex Sans';
    color: white;

}

.adder {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.leftadder {
    color: white;
    height: 25px;
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.rightadder {
    color: white;
    height: 25px;
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.middlesection {
    color: white;
    height: 25px;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid #2CF80B;
    box-shadow: 0 0 5px #2CF70B;
    border-radius: 5px;
}

.calendersection {
    display: flex;
    margin-top: 40px;
    gap: 50px;
}

.calendertext {
    color: white;
    margin-top: 5px;

    font-family: 'Lexend Giga';
    /* font-weight: 500; */
    font-size: 12px;
}

.bottomsection {
    display: flex;
    align-items: flex-end;
}

.slotsection {
    margin-top: 5px;
    color: white;
    font-family: 'IBM Plex Sans';
}

.slottext {
    font-family: 'Lexend Giga';
    font-size: 12px;

}

.slotlist {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    width: 50vw;
}

.slots {
    /* margin-right: 5px;
    margin-left: 5px; */
    border: 1px solid white;
    width: 102px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.submitsection {
    color: black;
    font-family: 'Lexend Giga';
    /* position: absolute; */
    font-size: 0.6rem;
    margin-left: 9vw;
    /* top: 85.4%; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    height: 31px;
    background-color: #2CF80B;

    cursor: pointer;
    font-weight: 500;
}

.submitsectiontext {
    font-family: 'Lexend Giga';

}

@media only screen and (max-width: 672px) {
    .bookingsection {
        /* height: 700px; */
        width: 100%;
    }

    .mainsection {
        /* height: 650px; */
    }

    .submainsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 47px 20px;
    }

    .calendersection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .wrapper header {
        padding: 10px 30px 5px;
    }

    .slotsection {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .slotlist {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .bottomsection {
        flex-direction: column;
        align-items: center
    }

    .submitsection {
        position: static;
        /* top: 48px;
        right: ; */

        margin-top: 40px;
    }

    header .current-date {
        color: #2CF80B;
    }
}


/*  */
@media only screen and (max-width: 753px) {
    .slotsection {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .slotlist {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .bottomsection {
        flex-direction: column;
        align-items: center
    }

    .submitsection {
        position: static;
        /* top: 48px;
        right: ; */

        margin-top: 40px;
    }
}





@media only screen and (max-width: 723px) {
    .slotlist {
        width: 56vw
    }

    .submainsection {
        padding: 47px 39px;
    }
}


/* @media only screen and (max-width: 804px) {
    .submitsection{
        margin-left: 2vw;
    }
  } */










/* popup css starts here */


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lexend+Giga&family=Nunito+Sans&family=Potta+One&display=swap');


.popupsubsection {
    z-index: -1;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    width: 774px;
    height: 291px;
    background-color: #263238;
    border: 3px solid #2CF80B;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.popupsubmitsection {
    margin-top: 23px;

}

.popupsubmitsection form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.innerpopup {
    padding: 30px 40px;
}

.popuptext {
    font-family: 'Potta One', cursive;
    color: white;
}

.popupsections {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.popupsection span {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
}

.popupsections input {
    border: 1px solid #2CF80B;
    height: 25px;
    width: 315px;
    background-color: #263238;
    color: white;
}

.popupsections select {
    border: 1px solid #2CF80B;
    height: 25px;
    width: 315px;
    background-color: #263238;
    color: white;
    font-family: 'Lexend Giga', sans-serif;

}

.popupsubmit {
    display: flex;
}

.popupsubmit input {
    color: #263238;
    font-size: 12px;
    font-family: 'Lexend Giga', sans-serif;
    width: 109px;
    height: 31px;
    background-color: #2CF80B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;

}

#cancel {
    color: #263238;
    font-size: 12px;
    font-family: 'Lexend Giga', sans-serif;
    width: 109px;
    height: 31px;
    background-color: #2CF80B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    margin-left: 453px;

}



@media only screen and (max-width: 753px) {
    .mainsection {
        width: 88%;
    }

    .popupsubsection {

        width: 340px;
        height: 550px;

    }

    .submainsection {
        padding: 47px 39px;
    }

    .innerpopup {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .slotlist {
        width: 87vw;
    }

    .slots {
        width: 87px;
    }

    .popupsubmit {
        margin-top: 40px;
        flex-direction: column;

    }

    #cancel {
        margin-left: 10px;
    }

}